<%- include header %>

<div class="container">

	<p>
		All done master!<br />

		Strava token: <%= stravaToken %><br />
		Kilometrikisa token: <%= kilometrikisaToken %><br />
		Kilometrikisa session id: <%= kilometrikisaSessionId %><br />

	</p>


</div>

<%- include footer %>
