<%- include header %>

<div class="container">

	<p>
		All done master!<br />

		Strava token: <%= stravaToken %><br />
		Kilometrikisa token: <%= kilometrikisaToken %><br />
		Kilometrikisa session id: <%= kilometrikisaSessionId %><br />

        <% for (var i in activities) { %>

            <%= i + ": " + activities[i] %><br />

        <% } %>

        <a class="btn btn-success" href="/dosync">Manual sync</a>

	</p>


</div>

<%- include footer %>
