<%- include header %>

<section>
    <div class="jumbo jumbo--full-screen">

        <div data-animate="animated fadeIn animatedsuperslow animateddelay2" class="background-image" style=" background-image:url(http://source.unsplash.com/SJWPKMb9u-k/1600x900);"></div>

        <div class="jumbo__overlay"></div>

        <div class="jumbo__content">

            <div class="container">

                <h1 class="headline margin-bottom--md">Manual synchronization</h1>

                <div class="row">
                    <div class="col-xs-6 col-sm-offset-3">

                        <div class="container-box text-xs-center">

                            <p>
                                Following activities will be synced:
                            </p>

                            <dl class="activity-table">
                                <% for (var date in activities) { %>
                                    <dd class="activity-table__date">
                                        <%=date%>
                                    </dd>
                                    <dt class="activity-table__distance">
                                        <%=activities[date].distance%> km<br>
                                        <%=activities[date].hours%> h
                                        <%=activities[date].minutes%> min
                                    </dt>
                                <% } %>
                            </dl>

                            <a type="button" href="/account" class="btn btn-secondary">Cancel</a>
                            <a type="button" href="/dosync" class="btn btn-primary">Sync</a>

                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div><!-- end of jumbo -->
</section>


<%- include footer %>
